body{
    background-color:#27282b;
}
title{
	font-size:120%;
}
.content{
	padding: 2% 15%;
	color:white;
}
.grid{
	display:grid;
	grid-template-columns: auto;
}
.grid-header{
	font-size:120%;
	font-weight:600;
}

.grid-item{
	display: block;
	cursor:pointer;
	margin-left:auto;
	margin-right:auto;
	padding:10px 20px;
	width:100%;
	border:1px solid  #656772b7;
	border-radius:0.5em;
	background-color:#5b5d67;
	transition:all 300ms ease-in-out;
}
.grid-item:hover{
	transform:scale(1.03);
	transition:all 300ms ease-in-out;
}